/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}


/**
 * -----Option CSS-----
  */
* {
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
/**
 * header　全ページ共通
 */
h1#sitetitle {
	display:block;
	width:240px;
	height:50px;
	background-image:url("images/logo.png");
	background-repeat:no-repeat;
	float:left;
	margin-right:90px;
	margin-top:13px;
}
h1#sitetitle span {
	display:none;
}

header#mainhead {
	width:100%;
	height:80px;
	margin:0 auto;
	background-color:rgba(255,255,255,0.2);
	position:relative;
	z-index:1;
}
header#mainhead div {
	width:960px;
	height:80px;
	margin:0 auto;
}
header#mainhead:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
header#mainhead ul {
	float:right;
}
header#mainhead ul li {
	float:left;
	margin-right:40px;
	font-size:14px;
	line-height:80px;
}
header#mainhead ul li:last-child {
	margin-right:0;
}
header#mainhead ul li:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
header#mainhead ul li a {
	color:#ffffff;
}
div#primary,
div#content {
	position: relative;
	z-index: 0;
}
body.home div#primary,
body.home div#content {
	position:static;
	z-index: 0;
}
/**
 * header　全ページ共通 END
 */

/**
 *index　トップページ
 */
#video-background {
	display:block;
	width: 100%; 
	height: auto;
	min-width:960px;
	min-height:720px;
	z-index: -100;
}
div#mainvideo {
	width:100%;
	min-width:1790px;
	margin: 0 auto;
	height:auto;
	max-height:720px;
	overflow:hidden;
	position:absolute;
	top:0;
	z-index:-100;
}
section#mainvisual {
	position:relative;
	width:960px;
	margin:0 auto 40px auto;
	color:#ffffff;
	height:640px;
	vertical-align:middle;
}
section#mainvisual div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width:910px;
	height:155px;
}
section#mainvisual h2 {
	text-align:center;
	margin-bottom:45px;
	font-size:40px;
	line-height:1em;
}

section#mainvisual ul {
	width:580px;
	height:70px;
	margin: 0 auto;
	list-style:none;
}
section#mainvisual ul li {
	font-size:26px;
	line-height:70px;
	width:280px;
	float:left;
	display:block;
	background-color:#D55C5A;
	text-align:center;
}
section#mainvisual ul li:first-child {
	margin-right:20px;
}

section#performance,
section#service,
section#seisaku,
section#news {
	width:100%;
	margin:0 auto;
}
section#performance h2,
section#service h2 {
	width:960px;
	margin:0 auto;
	font-size:30px;
	line-height:1em;
	padding-bottom:20px;
	border-bottom: solid 1px #000000;
}
section#performance dl,
section#service dl {
	width:960px;
	margin:0 auto;
	margin-bottom:60px;
}
section#performance dl dt,
section#service dl dt {
	width:770px;
	min-height:150px;
	padding:40px 0 40px 190px;
	font-size:20px;
	line-height:1.5em;
	border-bottom: dashed 1px #000000;
	background:url(images/background_q.png) no-repeat left;
	vertical-align:middle;
	font-weight:bold;
}
section#performance dl dt span,
section#service dl dt span {
	width:770px;
	height:150px;
	vertical-align:middle;
	display:table-cell;
}
section#performance dl dd,
section#service dl dd {
	width:770px;
	min-height:150px;
	padding:40px 190px 40px 0;
	font-size:18px;
	line-height:1.6em;
	border-bottom: solid 1px #000000;
	background:url(images/background_a.png) no-repeat right;
}
section#performance dl dd span,
section#service dl dd span {
	width:770px;
	height:150px;
	display:table-cell;
	vertical-align:middle;
}

section#performance h3 {
	width:960px;
	margin:0 auto;
	font-size:30px;
	line-height:1em;
	margin-bottom:40px;
}
section#performance ul,
div#price ul.price-genre {
	width:960px;
	margin:0 auto;
	height:134px;
	margin-bottom:80px;
}
section#performance ul:after,
div#price ul.price-genre:after {
	clear:both;
}
section#performance ul li,
div#price ul.price-genre li {
	width:168px;
	height:134px;
	list-style:none;
	float:left;
	margin-right:30px;
	font-size:16px;
	line-height:1em;
	text-align:center;
}
section#performance ul li img,
div#price ul.price-genreli img {
	margin-bottom:18px;
}
section#performance ul li:last-child,
div#price ul.price-genre li:last-child {
	margin-right:0;
}
section#performance div {
	width:100%;
	text-align:center;
	margin-bottom:76px;
}

section#service {
	background-color:#f7f6f6;
	padding:40px 0 240px 0;
	margin-bottom:40px;
}
section#service:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
section#service ul {
	width:960px;
	margin:0 auto;
}
section#service ul li {
	float:left;
	list-style:none;
	width:280px;
	margin-right:60px;
	text-align:center;
}
section#service ul li:last-child {
	margin-right:0;
}
section#service ul li img {
	margin-bottom:30px;
}
section#service ul li h3 {
	font-size:20px;
	line-height:1em;
	margin-bottom:17px;
}
section#service ul li p {
	font-size:14px;
	line-height:1.7em;
}

section#seisaku {
	padding-bottom:70px;
}
section#seisaku div.wrapper,
section#news div.wrapper {
	width:960px;
	margin:0 auto;
}
section#seisaku div.youtube {
	width:560px;
	display:table-cell;
}
section#seisaku div.zisseki {
	width:370px;
	padding-left:30px;
	display:table-cell;
	vertical-align:middle;
}
section#seisaku h2 {
	font-size:30px;
	line-height:1em;
}
section#seisaku p {
	font-size:16px;
	line-height:1.5em;
	margin-bottom:34px;
}

section#news {
	background-color:#f7f6f6;
	padding:30px 0 40px 0;
}
section#news h2 {
	width:450px;
	font-size:30px;
	line-height:1em;
	margin-bottom:30px;
}
section#news h2 img {
	vertical-align:bottom;
	float:right;
}
section#news div.side-news {
	width:450px;
	float:left;
	margin-right:60px;
	z-index:2;
}
section#news div.side-news ul {
	width:450px;
	z-index:2;
}
section#news div.side-news ul li {
	list-style:none;
	margin-bottom:20px;
}
section#news div.side-news ul li:last-child {
	margin-bottom:0;
}
section#news div.side-news ul li:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
section#news div.side-news ul li img {
	border:solid 1px #000000;
	vertical-align:middle;
	float:left;
	width:170px;
	height:100px;
}
section#news div.side-news ul li p {
	height:100px;
	display:table-cell;
	vertical-align:middle;
	padding-left:20px;
	font-size:16px;
	line-height:1.5em;
	font-weight:bold;
}
section#news div.side-news ul li p a {
	color:#000000;
	text-decoration:none;
}
section#news div.side-news ul li p span {
	font-size:14px;
	line-height:2em;
	font-weight:normal;
}
section#news div#likebox {
	width:100%
	height:520px;
	position:relative;
	top:-60px;
	z-index:1;
}
section#news div#likebox:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
/**
 *index　トップページ END
 */


/**
 *Page　固定ページ
 */
/* コメント非表示　固定ページ共通 */
div#comments { display:none; }
div#secondary { display:none; }
/* コメント非表示　固定ページ共通 END */

/* Page　固定ページ共通ヘッダー */
h1.entry-title {
	width:100%;
	height:95px;
	margin-bottom:40px;
	font-size:40px;
	line-height:1em;
	text-align:center;
	color:#ffffff;
	padding-top:145px;
	margin-top:-80px;
	background-image:url(images/entryheadbg.jpg);
	background-repeat:norepeat;
	background-position:50% 50%;
	background-size:cover;
}
/* Page　固定ページ共通ヘッダー END */
/* Page　固定ページ共通 */
div.entry-content {
	width:960px;
	margin:0 auto;
	margin-bottom:60px;
}
div.entry-content h2,
div#form h2 {
	font-size:40px;
	line-height:84px;
	padding-left:100px;
	margin-bottom:20px;
	background: url(images/background_h2_entry.png) no-repeat left 50%;
}
div.entry-content p {
	font-size:16px;
	line-height:1.5em;
}
/* Page　固定ページ共通 END */

/* 実績一覧 */
h2.performance {
	padding-bottom:20px;
	margin-bottom:30px !important;
	border-bottom:solid 1px #000000;
}
dl.performanceslist dt {
	height:124px;
}
dl.performanceslist dt img {
	width:220px;
	height:124px;
}
dl.performanceslist dd {
	margin:-124px 0 0 235px;
	min-height:124px;
}
dl.performanceslist dd h3 {
	font-size:20px;
	line-height:1em;
	margin-bottom:6px;
}
dl.performanceslist dd h3 a {
	color:#d13131;
}
dl.performanceslist dd p {
	font-size:14px;
	line-height:18px;
}
dl.performanceslist dd p.client {
	font-weight:bold;
}
span.genre:before {
	content:"ジャンル：";
}
span.plan:before {
	content:"プラン：";
}
dl.performanceslist dd p.category {
	margin-bottom:14px;
}
dl.performanceslist {
	margin-bottom:20px;
	padding-bottom:30px;
	border-bottom:1px dashed #000000;
}
dl.performanceslist:last-child {
	border-bottom:1px solid #000000;
}
/* 実績一覧 */

/* 実績詳細 */
div.performance-content {
	width:960px;
	margin:0 auto;
	margin-bottom:60px;
	font-size:14px;
	line-height:1.6em;
}
div#performancemovie {
	width:100%;
	height:540px;
	background-color:#000000;
	text-align: center;
	margin-bottom:30px;
}
div#performancemovie iframe {
	width:960px;
	height:540px;
}
h1.performance-title {
	width:100%;
	height:100px;
	font-size:44px;
	line-height:1em;
	text-align: center;
	color:#ffffff;
	background-image:url(images/performanceheadbg.jpg);
	background-repeat:norepeat;
	background-position:50% 50%;
	background-size:cover;
	margin-top:-80px;
	padding-top:140px;
}
h2.performance-title {
	width:960px;
	margin:0 auto 20px auto;
	font-size:30px;
	line-height:1em;
	font-weight:100;
}
div.performance-content p.client {
	font-size:16px;
	line-height:1em;
	margin-bottom:20px;
}
div.performance-content ul.snsb {
	margin-bottom:20px;
}
div.performance-content p.category {
	margin-bottom:20px;
}
div.performance-post {
	margin-bottom:80px;
}
div.performance-footer {
	text-align:center;
}
div.performance-footer a {
	color:#333333;
	border-bottom:1px solid #000000;
}
/* 実績詳細 */
/* ニュース一覧 */
dl.news-list dt {
	width:300px;
	height:100%;
	padding-top:20px;
	border-top:1px solid #000000;
	float:left;
}
dl.news-list dt p {
	font-size:26px;
	line-height:1.5em;
	background-image:url(images/news_tri_bg.png);
	background-repeat:no-repeat;
	background-position:right 50%;
}
dl.news-list dd {
	width:630px;
	margin-left:330px;
	padding:20px 0;
	border-bottom: dotted 1px #000000;
}
dl.news-list dt+dd {
	border-top: solid 1px #000000;
}
dl.news-list dd h3 {
	font-size:20px;
	line-height:1em;
	margin-bottom:15px;
}
dl.news-list dd h3 a {
	color:#333333;
}
dl.news-list dd p.date {
	font-size:16px;
	line-height:1em;
	margin-bottom:20px;
}
dl.news-list dd img {
	width:630px;
	height:auto;
	margin-bottom:20px;
}
dl.news-list dd p {
	font-size:16px;
	line-height:1.5em;
}
/* ニュース一覧 */

/* 会社概要 */
table#gaiyou th {
	font-size:16px;
	line-height:1.5em;
	font-weight:normal;
	width:270px;
	text-align:left;
	padding:34px 26px;
	border-top:solid 1px #000000;
	border-right:dotted 1px #000000;
	border-bottom:solid 1px #000000;
}
table#gaiyou td {
	font-size:16px;
	line-height:1.5em;
	padding:34px 26px;
	border-top:solid 1px #000000;
	border-bottom:solid 1px #000000;
}
/* 会社概要 */

/* 個人情報保護方針 */
div#privacy section {
	margin-bottom:70px;
}
div#privacy section:last-child {
	margin-bottom:0;
}
div#privacy p {
	font-size:18px;
	line-height:1.9em;
}
div#privacy h3 {
	font-size:30px;
	line-height:1em;
	margin-bottom:20px;
}
div#privacy p.seitei {
	margin-top:30px;
	text-align:right;
}
/* 個人情報保護方針 */

/* 料金・特徴 */
div#price section {
	padding:70px 0 80px 0;
}
div#price section.gray {
	background-color:#f7f6f6;
}
div#price section div.pricewrapper {
	width:960px;
	margin:0 auto;
}
div#price section:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
div#price h2 {
	margin-bottom:30px;
	font-size:30px;
	line-height:84px;
	padding-left:100px;
}
div#price h2 {
	background: url(images/price_icon01.png) no-repeat left 50%;
}
div#price h2.price2 {
	background-image:url(images/price_icon02.png);
}
div#price h2.price3 {
	background-image:url(images/price_icon03.png);
}
div#price h2.price4 {
	background-image:url(images/price_icon04.png);
}
div#price h2+p {
	font-size:18px;
	line-height:1.9em;
}
div#price h3.pink {
	font-size:26px;
	line-height:80px;
	color:#d32626;
	margin-bottom:20px;
	border-radius: 10px;        /* 共通 */  
	-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 10px;   /* Firefox用 */ 
	padding-left:50px;
	background: #fddcdc url(images/price_icon_h3.png) no-repeat 17px 50%;
}
div#price h3+p {
	font-size:18px;
	line-height:1.9em;
}
div#price hr {
	margin:40px 0 ;
	border-style: dotted;
}
div#price td.text {
	vertical-align:middle;
	padding-left:40px;
}
div#price td.text h3 {
	font-size:30px;
	line-height:40px;
	font-weight:normal;
	margin-bottom:30px;
}
div#price td.text p {
	font-size:18px;
	line-height:30px;
	font-weight:normal;
	margin-bottom:30px;
}
div#price ul.kome  li {
	list-style:none;
	padding-left: 1em;
	text-indent: -1em;
	font-size:14px;
	line-height:1.9em;
}
div#price ul.kome li:before {
	content:"※";
}
div#price img.price-ill {
	margin-bottom:40px;
}
div#price ul.tag {
	margin-bottom:48px;
}
div#price ul.tag li {
	font-size:24px;
	line-height:1em;
	list-style:none;
	float:left;
	padding:0 26px;
	border-right:solid 1px #000000;
}
div#price ul.tag li:first-child {
	padding-left:0;
}
div#price ul.tag li:last-child {
	border-right:none;
}
div#price ul.tag:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
div#price ul.price-genre {
	margin-bottom:20px;
}
div#price p span {
	font-size:16px;
	line-height:24px;
}
/* 料金・特徴 */

/* お問合せ */
div#form p {
	font-size:18px;
	line-height:1.9em;
	margin-bottom:40px;
}
div#form img {
	margin-bottom:50px;
}
div#form table#form {
	width:960px;
	margin-bottom:80px;
}
div#form table#form th,td {
	border:1px solid #000000;
	padding:27px 40px;
	vertical-align:top;
}
div#form table#form th {
	width:190px;
	font-weight:normal;
	font-size:16px;
	line-height:1.5em;
	text-align:left;
	border-right:dotted 1px;
	border-left:none;
}
div#form table#form th span {
	color:#f41f1f;
}
div#form table#form td {
	border-left:none;
	border-right:none;
}
div#form table#form td.submit {
	border:none;
	text-align:center;
}
div#form table#form input,textarea {
	width:100%;
	height:36px;
	font-size:18px;
	line-height:1.5em;
}
div#form table#form textarea {
	height:160px;
}
div#form table#form input,textarea {
	width:100%;
}
div#form table#form td.submit {
	padding:35px 0 0 0;
}
div#form table#form td.submit input {
	width:290px;
	height:80px;
}
div#form table#form select {
	width:170px;
	height:40px;
	font-size:16px;
	line-height:1.5em;
}
div#form table#form span.wpcf7-not-valid-tip {
	display:block;
	margin-top:10px;}
/* お問合せ */


/*** SNSボタン ***/
.snsb {
	overflow: hidden;
	list-style:none;
}
.snsb li {
	float: left;
	margin-right: 4px;
}
.snsb iframe {
	margin: 0 !important;
}
.facebook-button{ min-width:70px; max-width:115px; line-height:0; }
.twitter-button{ min-width:87px; max-width:90px; }
/*** SNSボタン ***/

/*** footer ***/
footer {
	width:100%;
}
footer div.wrapper {
	width:960px;
	margin:0 auto;
}
footer div#call {
	background-color:#d35d5d;
	color:#ffffff;
}
footer div#call div.wrapper {
	height:60px;
	padding:20px 60px 20px 60px;
	font-size:40px;
	line-height:60px;
	vertical-align:middle;
	background:url(images/icon_footerlogo.png) no-repeat right;
}
footer div#call img {
	float:left;
	margin-right:33px;
}
footer div#call span {
	font-size:14px;
	line-height:60px;
	margin-left:20px;
	vertical-align:middle;
}
footer div#serviceinfo {
	height:100px;
	background-color:#222222;
	color:#ffffff;
	padding:40px 0;
}
footer div#serviceinfo dt {
	height:60px;
	padding:20px 0;
}
footer div#serviceinfo dd {
	font-size:14px;
	line-height:24px;
	margin-left:336px;
	margin-top:-100px;
}
footer div#serviceinfo dd:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
footer div#serviceinfo ul {
	margin-top:25px;
}
footer div#serviceinfo li {
	float:left;
	list-style:none;
	margin-right:20px;
}
footer div#serviceinfo li:last-child {
	margin-right:0;
}
footer div#boshu {
	height:60px;
	background-color:#686565;
	color:#ffffff;
	text-align:center;
	padding:20px 0;
}
footer div#copyright,
footer div#copyright span a {
	height:40px;
	background-color:#222222;
	color:#ffffff;
	font-size:12px;
	line-height:40px;
}
footer div#copyright span {
	float:right;
}

span.edit-link {
	display:none;
}

/* 共通CSS */
div.center {
	text-align:center;
}

.mgrb40 {
	margin-bottom:40px !important;
}
.mgrb50 {
	margin-bottom:50px !important;
}
.mgrb60 {
	margin-bottom:60px !important;
}